:root { 
--gray_600:#6c6c71; 
--gray_700:#565656; 
--black_900_3d:#0000003d; 
--orange_A200:#dcb53e; 
--gray_500:#949494; 
--gray_900:#131313; 
--gray_900_01:#111111; 
--black_900_19:#00000019; 
--blue_gray_900:#232233; 
--white_A700:#ffffff; 
--gray_100:#f7f7f7; 
--black_900_1e:#0000001e; 
}